<!-- post list -->
{{ $url := .Site.Params.icloud_api }}

<script>
    async function setFeaturedImage(albumId, fIdx) {

        const url = "{{$url}}/album"; 
        const featureImgNode = document.querySelector(`#featured-image-${albumId}>img`);
        const res = await fetch(`${url}/${albumId}`)
        const data = await res.json();
        const featuredImg = data.at(fIdx);
        featureImgNode.src = featuredImg.thumbnailUrl;
        featureImgNode.alt = featuredImg.caption;

    }
</script>

{{ range $index, $element := $.Paginator.Pages }}
<div class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title">
            {{ .Title }}
        </h2>
	{{with .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ . }}
        </h3>
	{{ end }}
        <div id="featured-image-{{ .Params.album }}" >
                <img src="https://placehold.jp/3d4070/ffffff/150x150.png?text=Loading%20image..." alt="thumbnail" />
        </div>
        <div class="post-content-preview">
	{{ with .Description }}
            {{ . }}
        {{ else }}
            {{ .Summary}}
       {{ end }}
        </div>
    </a>
    <p class="post-meta">
    {{ if .Params.metadata }}
        {{ range $index, $element := .Params.metadata }}
            {{ if .link }}
                <a href="{{ .link }}">{{ .text }}</a>
            {{ else }}
                {{ .text }}
            {{ end }}
        {{ end }}
    {{ else }}
        geposted von {{ with .Params.author }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }} am {{ index site.Data.days_german (printf "%s" .Date.Weekday) }}, {{ .Date.Day }}. {{ index site.Data.months_german (printf "%d" .Date.Month) }} {{ .Date.Year }}

       
        <!-- Don't show "Last Modified on" if update happened on the same day. -->
        {{ if (and (not .Lastmod.IsZero) (not (eq (dateFormat "2006-01-02" .Lastmod) (dateFormat "2006-01-02" .Date)))) }}
            <br>Last Modified on {{ dateFormat "Monday, January 2, 2006" .Params.LastMod }} 
        {{ end }}
    {{ end }}
    </p>

</div>
<hr>

{{ $album :=  .Params.album }}
{{$fIdx := 0}}
    {{ if ne .Params.featured 0 }}
{{with .Params.featured }}
{{$fIdx := .}}
    {{ end }}
    {{ end }}
<script defer >
setFeaturedImage("{{$album}}", "{{$fIdx}}").then(_ => console.log("Loaded featured image for album {{$album}}")).catch(e => console.error(e));
</script>
{{ end }}
